// theme toggle button

.theme-toggle-button{
    position: relative;
    display: flex;
    align-items: center;

    .light-theme-icon > span, .dark-theme-icon > span{
        width: 18px;
        color: $primary;
    }

    .toggle-switch {
        display: flex;
        margin: 0 2px;

        label {
            margin: 0
        }

/* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 24px;

            /* Hide default HTML checkbox */
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            /* The slider */
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #AEC7F6;
                transition: .4s;

                &::before{
                    position: absolute;
                    content: "";
                    height: 20px;
                    width: 20px;
                    left: 3px;
                    bottom: 2px;
                    background-color: white;
                    transition: .4s;
                }

                &.round{
                    border-radius: 34px;
                    &::before{
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
