// learning MFE

.donut-chart-text {
    fill: $primary-500;
}

.donut-ring, .donut-segment, .donut-hole {
    &.locked-stroke {
        stroke: $primary-500;
    }
}

.grade-bar {
    .grade-bar__divider {
        fill: $primary-500;
    }

    .grade-bar--passing {
        fill: $primary-500;
    }

    .grade-bar--current-passing {
        fill: $success-500;
    }
}

#minimum-grade-tooltip {
    .arrow::after {
        border-bottom-color: $primary-500;
    }
}

#passing-grade-tooltip {
    .arrow::after {
        border-top-color: $success-500;
    }

    background: $success-500;
}

.modal {
    button {
        @extend .btn-primary;
    }
}

.lock-paywall-container svg {
    color: $primary-700;
}

.upsell-warning {
    background-color: $danger-100;
}

.sequence-navigation {
    .btn{
        &.complete {
            color: $success;
        }
    }
}

.sequence-navigation {
    .sequence-navigation-dropdown {
        .dropdown-menu .btn {
                &.active {
                    .unit-icon {
                        color: $primary-500;
                }
        
                &:after {
                    background: $primary;
                }
            }
        }
    }
}

.icon-hover {
    &:hover {
        color: $primary-500 !important;
        
    }
}


.nav-underline-tabs {
    &:hover,
        &:focus,
        &.active {
        color: $primary-500;
        border-bottom-color: $primary-500;
    }
}

